{%extends "layout.html"%}

{%block content%}


<br><br><br>

<h1> Data Verification Dash </h1>

<br>


<form action="/submitForm" method=post class=add-entry>
<input type="hidden" name="researcher" value="{{researcher}}">
<input type="hidden" name="product" value="{{product}}">
<input type="hidden" name="periodID" value="{{periodID}}">
<input type="hidden" name="category" value="{{category}}">

{% for checkType in checkTypeDict %}
  {% if checkTypeDict[checkType]["checks"] %}

    <h2>{{checkTypeDict[checkType]["name"]}}</h2>
    <br>

    {% for check in checkTypeDict[checkType]["checks"] %}

        <div class="row">
          <div class="col-md-3">        
            {{checkDict[check]['checkDescription']}}
          </div>
          <div class="col-md-2"> 
            <select name = c{{check}}>
              {% for status in statusDict %}
                <option value={{status}}>{{statusDict[status]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class = "col-md-7">
            notes: <input type="text" name =n{{check}}>
          </div>
        </div>
      <br>
    {% endfor %}
  {% endif %}
{% endfor %}

<input type="submit" value="Submit">



{% endblock %}