{%extends "layout.html"%}

{%block content%}


<br><br><br>

<h1>Data Verification Dash</h1>

Researcher:

<select>
  <option value="Bob">Bob</option>
  <option value="Joe">Joe</option>
  <option value="Steve">Steve</option>
  <option value="Karen">Karen</option>
</select>

<br>

Product:

<select>
  <option value="Desk">Simfund GL Desktop</option>
  <option value="Pro">Simfund Dash Pro</option>
  <option value="GL">Simfund Dash Global</option>
</select>

<br>

Check Category:

<select>
  <option value="1">Desktop Functionality</option>
  <option value="2">Simfund Dash Functionality</option>
  <option value="3">Data Checks</option>
</select>

<br><br>

<a href="/form">next</a>


{% endblock %}