{%extends "layout.html"%}

{%block content%}


<br><br><br>

<h1>Data Verification Dash</h1>

<br><br>

<form action="/generateform" method=post class=add-entry>

<div class="row">
  <div class="col-md-1">
    Researcher:
  </div>
  <div class="col-md-11">
    <select name="researcher">
      {% for researcher in researcherList %}
        <option value={{researcher}}>{{researcherList[researcher]}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-1">
    Period ID:
  </div>
  <div class="col-md-11">
    <select name="periodID">
       {% for product in periodIDList %}
        <option value={{product}}>{{product}}</option>
      {% endfor %}     
    </select>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-1">
    Product:
  </div>
  <div class="col-md-11">    
    <select name = "product">
      {% for product in productList %}
        <option value={{product}}>{{productList[product]}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-1">
    Check Category:
  </div>
  <div class="col-md-11">
    <select name="category">
      {% for category in categoryList %}
        <option value={{category}}>{{categoryList[category]}}</option>
      {% endfor %}
    </select>
  </div>
</div>

  <br><br>


<input type="submit" value="Next">




{% endblock %}