<!doctype html>
{% extends "bootstrap/base.html" %}
{% block title %}Data Import Dashboard{% endblock %}


{% block navbar %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Data Verification Dash</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Report<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                    <li><a href="/report/{{g.periodID[0]}}">{{g.periodID[0]}}</a></li>
                    <li><a href="/report/{{g.periodID[1]}}">{{g.periodID[1]}}</a></li>
                    <li><a href="/report/{{g.periodID[2]}}">{{g.periodID[2]}}</a></li>
                    <li><a href="/report/{{g.periodID[3]}}">{{g.periodID[3]}}</a></li>
                    <li><a href="/report/{{g.periodID[4]}}">{{g.periodID[4]}}</a></li>
                    <li><a href="/report/{{g.periodID[5]}}">{{g.periodID[5]}}</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

{% endblock %}
